*.o
*.so
*.a
burnX
/build
.DS_Store
.AppleDouble
.LSOverride
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.apple
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
